header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 75px;
    font-family: lato;
}

.logo {
    text-align: center;
    font-family: lato;
    width: 100px;
   
}

.nav-li {
    color: #3D37F1;
    margin-right: 10px;
}
.web-text {
    color: #3D37F1;
    font-weight: bolder;
    font-family: lato;
}
.nav-ul {
    
    width: 600px;
    font-family: lato;
    display: flex;
    justify-content: space-around;
}

section {
    margin-top: 200px;
    margin-bottom: 200px;
}
.first-section-div {
     max-width: 1000px;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;

}

.right-div {
    width: 500px;
}



.img {
    width: 500px;
}


h1 {
    font-size: 60px;
    font-weight: bold;
    width: 500px;
    color: #534D4D;
    font-family: lato;
}

.left-div {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
   
}

.blue-block {
    background-color: #3D37F1;
    width: 190px;
    height: 55px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 30px;
}

.blue-block:hover {
    opacity: 50%;
}

.button-text {
    color: white;
    font-size: 20px;
    font-family: lato;
}

.hand {
    width: 25px;
    height: 20px;
    
}

.second-div {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
   
}

.second-section-title {
    width: 100px;
    font-size: 13px;
    color: #3D37F1;
    font-family: lato;
}

.second-section-second-title {
    width: 360px;
    font-size: 25px;
    color: #5A5454;
    text-align: center;
    font-family: lato;
}

.second-section-text {
    width: 340px;
    font-size: 13px;
    color: #5A5454;
    text-align: center;
    font-family: lato;
}

.text-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    text-align: center;
    width: 350px;
    font-family: lato;
}



.block {
    background-color: #FBBA77;
    width: 280px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}

.block:nth-child(2) {
    background-color: #41EAE3;
}

.block:nth-child(3) {
    background-color: #69529F;
}


.block1 {
    background-color: #4386D2;
    width: 280px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.block1:nth-child(2) {
    background-color: #A5A2F6;
}

.block1:nth-child(3) {
    background-color: #FF8088;
}

.block-img {
    width: 80px;
    margin-top: 30px;
}

.block-title {
    text-align: center;
    font-family: lato;
    font-weight: bold;
}

.block-text {
    text-align: center;
    font-family: lato;
    padding: 0px 10px 0px 10px;
}

.button-div {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    border-color: white;
    border: 2px solid white;

}

.button-div:hover  {
    background-color: white;
    
}
.button-block:hover {
    color: black;
}

.button-block {
    text-align: center;
    color: white;
    margin: auto;
}


.first-line {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.div-block1 {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.div-block {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

p {
    font-family: lato;
}

.header-div {
    display: flex;
    justify-content: space-between;
    width: 1000px;
   
}

.burger-bar {
    display: none;
}
